body{
    background-color: dodgerblue;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titulo{
    font-size: 60px;
    margin-top: 150px;
    color: white;
}

#usuario{
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

#senha{
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

#Entrar{
    padding: 10px;
    width: 322px;
    background-color: green;
    color: white;
    cursor: pointer;
}

#Entrar:hover{
    opacity: 0.4;
}

