* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
}

.logo {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

#pesquisa {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    width: 500px;
    margin-top: 17px;
}

button{
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iten0 {
    padding: 20px;
    box-shadow: 5px 5px 5px 3px gray;
    border-radius: 5px;
    margin-top: 50px;
}

.iten1 {
    padding: 20px;
    box-shadow: 5px 5px 5px 3px gray;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 40px;
}

.itens:hover {
    opacity: 0.5;
    cursor: pointer;
}

#bulbassour {
    padding-left: 20px;
    padding-bottom: 20px;
}

#eevee {
    padding-left: 20px;
    padding-bottom: 15px;
}

.fim {
    font-size: 30px;
    text-align: center;
    padding: 40px;
    margin-top: 220px;
    background-color: dodgerblue;
    color: white;
}